.selectors {
  h2 {
    color: #1d2d44;
    font-size: 36px;
    line-height: 45px; /* 125% */
  }

  h3 {
    color: #748cab;
    font-size: 24px;
    line-height: 30px;
  }

  .article p:last-child {
    color: #f44336;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
  }

  p:last-child {
    font-weight: 700;
  }
}
